.about-banner {
  background-image: url("./images/aboutus-new.jpg");
  height: 80vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.about-banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40vh 10vw;
  color: #fefefe;
  position: absolute;
  top: 0;
  z-index: 20;
  text-shadow: 2px 2px 10px #0f0f0f;
}

.about-details {
  width: 80vw;
  text-align: center;
}

.about-details-1 {
  margin: 10px;
  /* width: 100vw; */
  display: flex;
}

.about-details-1 img {
  height: 250px;
  width: 250px;
}

.about-details-1 p {
  padding: 10px;
  font-size: 20px;
}

@media only screen and (min-width: 500px) {
  .about-banner-content {
    padding: 40vh 30vw;
  }
}
