.contact-banner {
  background-image: url("./images/contactus.jpg");
  height: 80vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.contact-banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40vh 40vw;
  color: white;
  position: absolute;
  top: 0;
  z-index: 20;
  text-shadow: 2px 2px #858585;
  text-align: center;
}

.main-contact-details {
  padding: 20px;
}

.my-contacts {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.contact-details {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  /* border: 1px solid black; */
}
